# 1.Import Library module yang akan dipakai

In [366]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# 2. Menampilkan file dataset yang kita miliki

In [367]:
Netflix_split = pd.read_csv("netflix daily top 10.csv")
Netflix_split.head()

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
0,2020-04-01,1,1,1,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",9,90
1,2020-04-01,2,2,-,Ozark,TV Show,Yes,"Jul 21, 2017",5,45
2,2020-04-01,3,3,2,All American,TV Show,NaN,"Mar 28, 2019",9,76
3,2020-04-01,4,4,-,Blood Father,Movie,NaN,"Mar 26, 2020",5,30
4,2020-04-01,5,5,4,The Platform,Movie,Yes,"Mar 20, 2020",9,55

In [368]:
Netflix_split.dtypes

As of                   object
Rank                     int64
Year to Date Rank       object
Last Week Rank          object
Title                   object
Type                    object
Netflix Exclusive       object
Netflix Release Date    object
Days In Top 10           int64
Viewership Score         int64
dtype: object

# 3.Data Split
**Membagi data Menjadi proporsi 70:30**

In [369]:
Netflix_split.shape

(7100, 10)

In [370]:
X = Netflix_split.iloc[:,:-1]
y = Netflix_split.iloc[:,-1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)
print("==========================")
print("Dimensi X_train : ", X_train.shape)
print("Dimensi X_test : ", X_test.shape)
print("Dimensi y_train : ", y_train.shape)
print("Dimensi y_test : ", y_test.shape)
print("==========================")

==========================
Dimensi X_train :  (4970, 9)
Dimensi X_test :  (2130, 9)
Dimensi y_train :  (4970,)
Dimensi y_test :  (2130,)
==========================

# 4. Normalisasi data
**Normalisasi data menggunakan Min Max Scaler**

In [371]:
from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()
dataset_normalization = Netflix_split
x_scaled = min_max_scaler.fit_transform(
    dataset_normalization[['Rank', 'Days In Top 10']]
)
data_normalization = pd.DataFrame(x_scaled)
data_normalization.head()

          0         1
0  0.000000  0.018735
1  0.111111  0.009368
2  0.222222  0.018735
3  0.333333  0.009368
4  0.444444  0.018735

# 5. Standarisasi data
**Melakukan Standarisasi data pada dataset**

In [377]:
dataset_standarization = Netflix_split
np.std(dataset_standarization)

Rank                  2.872281
Days In Top 10       58.469671
Viewership Score    213.846581
dtype: float64

In [378]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
x_scaled2 = ss.fit_transform(
    dataset_standarization[['Days In Top 10', 'Viewership Score']]
)
data_standarization = pd.DataFrame(x_scaled2)
data_standarization.head()

          0         1
0 -0.258658 -0.153335
1 -0.327070 -0.363766
2 -0.258658 -0.218802
3 -0.327070 -0.433910
4 -0.258658 -0.317004

In [379]:
np.std(x_scaled2)

1.0

In [380]:
np.mean(x_scaled2)

-3.2024461330032686e-17

# 6. Melakukan data cleaning pada data null
**Ganti nilai null sesuai ketentuan. (bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus)**

In [381]:
Netflix = pd.read_csv("netflix daily top 10 rusak.csv", sep = ";")
Netflix.head()

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
0,01/04/2020,1,1.0,1.0,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",9,5
1,01/04/2020,2,2.0,NaN,NaN,TV Show,Yes,"Jul 21, 2017",5,5
2,01/04/2020,3,3.0,2.0,All American,TV Show,NaN,"Mar 28, 2019",9,5
3,01/04/2020,4,4.0,NaN,Blood Father,Movie,NaN,"Mar 26, 2020",5,5
4,01/04/2020,5,5.0,4.0,The Platform,Movie,Yes,"Mar 20, 2020",9,5

In [382]:
Netflix.dtypes

As of                    object
Rank                      int64
Year to Date Rank       float64
Last Week Rank          float64
Title                    object
Type                     object
Netflix Exclusive        object
Netflix Release Date     object
Days In Top 10            int64
Viewership Score          int64
dtype: object

In [383]:
Netflix[13:18]

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
13,08/04/2020,7,10.0,5.0,Unorthodox,TV Show,Yes,"Mar 26, 2027",2,5
14,09/04/2020,7,10.0,5.0,Unorthodox,TV Show,Yes,"Mar 26, 2028",2,5
15,02/04/2020,6,4.0,NaN,Blood Father,Movie,NaN,"Mar 26, 2020",6,35
16,02/04/2020,7,NaN,NaN,The Roommate,Movie,NaN,"Apr 1, 2020",1,4
17,02/04/2020,8,7.0,NaN,Unorthodox,TV Show,Yes,"Mar 26, 2020",3,8

In [384]:
print("Jumlah record yang memiliki nilai null:")
Netflix.isna().sum()

Jumlah record yang memiliki nilai null:

As of                      0
Rank                       0
Year to Date Rank        853
Last Week Rank          3947
Title                     81
Type                       0
Netflix Exclusive       2494
Netflix Release Date       0
Days In Top 10             0
Viewership Score           0
dtype: int64

### Ini untuk tulisan - Modus

In [385]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy = "most_frequent")

In [386]:
Netflix[["Title", "Netflix Exclusive"]] = imputer.fit_transform(Netflix[["Title", "Netflix Exclusive"]])

In [387]:
Netflix.isna().sum()

As of                      0
Rank                       0
Year to Date Rank        853
Last Week Rank          3947
Title                      0
Type                       0
Netflix Exclusive          0
Netflix Release Date       0
Days In Top 10             0
Viewership Score           0
dtype: int64

### Ini untuk bilangan desimal - Mean

In [388]:
imputer = SimpleImputer(strategy = "mean")

In [389]:
Netflix[["Year to Date Rank", "Last Week Rank"]] = imputer.fit_transform(Netflix[["Year to Date Rank", "Last Week Rank"]])

In [390]:
Netflix.isna().sum()

As of                   0
Rank                    0
Year to Date Rank       0
Last Week Rank          0
Title                   0
Type                    0
Netflix Exclusive       0
Netflix Release Date    0
Days In Top 10          0
Viewership Score        0
dtype: int64

In [391]:
Netflix[1:10]

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
1,01/04/2020,2,2.0,3.94862,Cocomelon,TV Show,Yes,"Jul 21, 2017",5,5
2,01/04/2020,3,3.0,2.00000,All American,TV Show,Yes,"Mar 28, 2019",9,5
3,01/04/2020,4,4.0,3.94862,Blood Father,Movie,Yes,"Mar 26, 2020",5,5
4,01/04/2020,5,5.0,4.00000,The Platform,Movie,Yes,"Mar 20, 2020",9,5
5,01/04/2020,6,6.0,3.94862,Car Masters: Rust to Riches,TV Show,Yes,"Sep 14, 2018",4,5
6,01/04/2020,7,10.0,5.00000,Unorthodox,TV Show,Yes,"Mar 26, 2020",2,5
7,02/04/2020,7,10.0,5.00000,Unorthodox,TV Show,Yes,"Mar 26, 2021",2,5
8,03/04/2020,7,10.0,5.00000,Unorthodox,Movie,Yes,"Mar 26, 2022",2,5
9,04/04/2020,7,10.0,5.00000,Unorthodox,Movie,Yes,"Mar 26, 2023",2,5

# 7.Melakukan Data cleaning pada data duplikat

In [392]:
Netflix[Netflix.duplicated()]

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
100,11/04/2020,9,9.0,5.0,Nailed It!,TV Show,Yes,"Mar 20, 2020",19,135
101,11/04/2020,9,9.0,5.0,Nailed It!,TV Show,Yes,"Mar 20, 2020",19,135
6951,25/02/2022,1,1.0,1.0,Inventing Anna,TV Show,Yes,"Feb 11, 2022",14,140
6952,25/02/2022,1,1.0,1.0,Inventing Anna,TV Show,Yes,"Feb 11, 2022",14,140
6953,25/02/2022,1,1.0,1.0,Inventing Anna,TV Show,Yes,"Feb 11, 2022",14,140
6954,25/02/2022,1,1.0,1.0,Inventing Anna,TV Show,Yes,"Feb 11, 2022",14,140
6973,27/02/2022,1,1.0,9.0,Tyler Perryâs A Madea Homec…,TV Show,Yes,"Feb 25, 2022",2,20
6974,27/02/2022,1,1.0,9.0,Tyler Perryâs A Madea Homec…,TV Show,Yes,"Feb 25, 2022",2,20
7061,08/03/2022,1,1.0,2.0,Pieces of Her,TV Show,Yes,"Mar 4, 2022",4,39
7062,08/03/2022,1,1.0,2.0,Pieces of Her,TV Show,Yes,"Mar 4, 2022",4,39
7063,08/03/2022,1,1.0,2.0,Pieces of Her,TV Show,Yes,"Mar 4, 2022",4,39

In [393]:
Netflix.duplicated().sum()

11

In [394]:
Netflix.drop_duplicates(inplace = True)

In [395]:
Netflix[Netflix.duplicated()]

Empty DataFrame
Columns: [As of, Rank, Year to Date Rank, Last Week Rank, Title, Type, Netflix Exclusive, Netflix Release Date, Days In Top 10, Viewership Score]
Index: []

In [396]:
Netflix.duplicated().sum()

0

# 8. Mengganti tipe data salah satu attribute angka

In [397]:
Netflix.dtypes

As of                    object
Rank                      int64
Year to Date Rank       float64
Last Week Rank          float64
Title                    object
Type                     object
Netflix Exclusive        object
Netflix Release Date     object
Days In Top 10            int64
Viewership Score          int64
dtype: object

In [398]:
Netflix['Viewership Score'] = Netflix['Viewership Score'].astype('float64')

In [399]:
Netflix.dtypes

As of                    object
Rank                      int64
Year to Date Rank       float64
Last Week Rank          float64
Title                    object
Type                     object
Netflix Exclusive        object
Netflix Release Date     object
Days In Top 10            int64
Viewership Score        float64
dtype: object

# 9. Melakukan one hot encoding pada dataset

In [400]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder(sparse_output = False)
Type_encoded2 = onehotencoder.fit_transform(Netflix[["Type"]])

In [401]:
Netflix_Encoder = pd.DataFrame(Type_encoded2)
Netflix = Netflix.join(Netflix_Encoder)

In [402]:
Netflix.head()

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score,0,1,2,3
0,01/04/2020,1,1.0,1.00000,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",9,5.0,0.0,0.0,0.0,1.0
1,01/04/2020,2,2.0,3.94862,Cocomelon,TV Show,Yes,"Jul 21, 2017",5,5.0,0.0,0.0,0.0,1.0
2,01/04/2020,3,3.0,2.00000,All American,TV Show,Yes,"Mar 28, 2019",9,5.0,0.0,0.0,0.0,1.0
3,01/04/2020,4,4.0,3.94862,Blood Father,Movie,Yes,"Mar 26, 2020",5,5.0,0.0,1.0,0.0,0.0
4,01/04/2020,5,5.0,4.00000,The Platform,Movie,Yes,"Mar 20, 2020",9,5.0,0.0,1.0,0.0,0.0